In [1]:
import pandas as pd
data=pd.read_csv('FoodPrice_in_Turkey.csv', encoding="ISO-8859-1")
data.info()
display(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
#Giá trung bình của từng loại thực phẩm là bao nhiêu
print("Tổng của từng loại thực phẩm")
a= data.groupby('ProductName')['Price'].sum()
b= data.groupby('ProductName')['UmId'].sum()
c=a/b
print(c)

Tổng của từng loại thực phẩm
ProductName
Apples (red) - Retail                                      0.478439
Apples - Retail                                            0.777008
Bananas - Retail                                           1.644957
Beans (white) - Retail                                     1.914566
Bread (common) - Retail                                    0.892659
Bread (pita) - Retail                                      0.480909
Bulgur - Retail                                            0.703342
Cabbage - Retail                                           0.344679
Cauliflower - Retail                                       0.654974
Cheese - Retail                                            5.104575
Chickpeas - Retail                                         2.069572
Cocoa (powder) - Retail                                    8.760468
Coffee (instant) - Retail                                  1.311985
Coffee - Retail                                            8.493615
Cucumbers (greenhouse) - Retail                            0.441361
Cucumbers - Retail                                         0.682265
Eggplants - Retail                                         0.776529
Eggs - Retail                                              0.015331
Electricity - Retail                                       0.005085
Fish (fresh) - Retail                                      4.539651
Fuel (gas) - Retail                                        0.933074
Fuel (petrol-gasoline) - Retail                            0.572835
Garlic - Retail                                            3.322074
Groundnuts (shelled) - Retail                              4.366424
Lentils - Retail                                           1.330363
Meat (chicken) - Retail                                    1.936694
Meat (mutton) - Retail                                     9.111442
Meat (veal) - Retail                                       8.254181
Milk (pasteurized) - Retail                                0.245312
Milk (powder, infant formula) - Retail                    21.657539
Oil (olive) - Retail                                       1.818303
Oil (sunflower) - Retail                                   0.583678
Onions - Retail                                            0.428308
Oranges - Retail                                           0.624856
Pasta - Retail                                             0.699327
Peas (green, dry) - Retail                                 0.580006
Potatoes - Retail                                          0.459446
Rice - Retail                                              1.590065
Salt - Retail                                              0.409643
Spinach - Retail                                           0.648117
Sugar - Retail                                             0.896588
Tea (green) - Retail                                       0.125364
Tea (herbal) - Retail                                      0.053283
Tea - Retail                                               5.244879
Tomatoes (paste) - Retail                                  1.617026
Tomatoes - Retail                                          0.678732
Transport (public) - Retail                                0.044873
Wage (non-qualified labour, non-agricultural) - Retail     0.795062
Water - Retail                                             0.053843
Wheat flour - Retail                                       0.650635
Yogurt - Retail                                            1.072980
Zucchini - Retail                                          0.767485
dtype: float64