In [16]:
import pandas as pd
import numpy as np
data=pd.read_csv('GDPlist.csv', encoding="ISO-8859-1")
data.rename(columns={'GDP (millions of US$)':'GDP'},inplace=True)
data.info()
display(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    125 non-null    object
 1   Continent  125 non-null    object
 2   GDP        125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

          Country      Continent     GDP
0     Afghanistan           Asia   18181
1         Albania         Europe   12847
2         Algeria         Africa  190709
3          Angola         Africa  100948
4       Argentina  South America  447644
..            ...            ...     ...
120    Uzbekistan           Asia   45353
121     Venezuela  South America  315841
122       Vietnam           Asia  122722
123         Yemen         Africa   33675
124        Zambia         Africa   19206

[125 rows x 3 columns]

In [2]:
#Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
print('Số dòng dữ liệu',data.shape[0])
print('Số dòng dữ liệu',data.shape[1])
#Kiểm tra kiểu dữ liệu của các cột thuộc tính:
data.info()
data.dtypes

Số dòng dữ liệu 125
Số dòng dữ liệu 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

In [8]:
data_GDP=data.loc[:,'GDP']
data_GDP.max()

15094025

In [11]:
#Hãy cho biết xu hướng phân bố dữ liệu của GDP.
data_GDP.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP, Length: 125, dtype: int64

In [12]:
data_GDP.median()

96089.0

In [13]:
data_GDP.mean()

555427.784

In [14]:
#Hãy cho biết châu lục nào xuất hiện nhiều nhất?
data_Continent=data.loc[:,'Continent']
data_Continent.mode()

0    Europe
Name: Continent, dtype: object

In [19]:
#Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. 
data.pivot_table(values='GDP', columns='Continent',aggfunc ={sum,'mean'})

Continent,Africa,Asia,Europe,North America,Oceania,South America
mean,6.278659e+04,6.784970e+05,5.172805e+05,1.658041e+06,5.542423e+05,4.601352e+05
sum,1.820811e+06,2.442589e+07,1.913938e+07,1.823845e+07,1.662727e+06,4.141217e+06